<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla fugiat
      molestiae fuga amet consequatur dicta ipsum officia enim nisi placeat?
    </p>
  </header>
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ab ipsum
      expedita error molestias repellendus delectus quasi dolores tenetur minus.
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla fugiat
      molestiae fuga amet consequatur dicta ipsum officia enim nisi placeat?
    </p>
  </div>
</section>
